a {
    text-decoration: none;
    text-decoration-color: rgb(3, 102, 214);
}

@font-face {
    font-family: 'Nanum Square Round';
    font-weight: 400;
    src: url('../fonts/NanumSquareRoundB.ttf');
}

@font-face {
    font-family: 'Nanum Square Round';
    font-weight: 700;
    src: url('../fonts/NanumSquareRoundEB.ttf');
}

body {
    font-family: 'Nanum Square Round', sans-serif;
}

pre, code {
    font-family: 'JetBrains Mono', monospace !important;
}