body {
    background-color: white;
}

.card {
    border: none;
}

#commentHeader {
    border-bottom-color: blue;
    background-color: white;
}

img {
    max-width: 100%;
    height: auto; 
}

pre, code {
    background-color: #f6f8fa !important; 
    border-radius: 6px;
    margin: 0;
    padding: .2em .4em;
} 

code {
    font-size: 85% !important;
}

p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}