body {
    background-color: white;
}

.card {
    border: none;
}

#commentHeader {
    border-bottom-color: blue;
    background-color: white;
}

img {
    max-width: 100%;
    height: auto; 
}

pre {
    padding: 16px;
    background-color: #f6f8fa !important;
    border-radius: 6px;
} 
