{{define "head"}}
<link rel="stylesheet" href="/static/css/show.css">
<link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/pure-min.css"
    integrity="sha384-Uu6IeWbM+gzNVXJcM9XV3SohHtmWE+3VGi496jvgX1jyvDTXfdK+rfZc8C1Aehk5" crossorigin="anonymous">
{{end}}

{{define "content"}}
<div class="row justify-content-center">
    <!-- Post Section -->
    <div class="col-lg-10 mb-5">
        <h1 class="mb-3"> {{ .Post.Title }} </h1>
        <p class="text-muted">Category: {{ .Post.Category }} </p>
        <p>{{ .Post.ParseContent }}</p>
        <p class="text-muted"> Last Modified: {{ .Post.CreatedAtDate }}</p> 
        <a class="btn btn-sm btn-secondary" href="/post">Back</a>
        <a href={{ printf "/post/%v/edit" .Post.Uuid }} class="btn btn-sm btn-secondary">Edit</a>
        <form action={{ printf "/post/%v/?_method=DELETE" .Post.Uuid }} method="POST" class="d-inline">
            <button class="btn btn-danger btn-sm">Delete</button>
        </form>
    </div>
    <!-- Comment Section -->
    <div class="col-lg-10 mb-3">
        <h3>Comments</h3>
        <hr>
        <ul class="list-group list-group-flush">
            {{ range .Comments }}
            <li class="list-group-item">
                <div class="row">
                    <div class="col-11">
                        <strong>{{ .Username }}</strong>
                        <div>
                            {{ .Body }}
                        </div>
                    </div>
                    <div class="dropdown col-1">
                        <button class="btn btn-sm" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                                <path
                                    d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" />
                            </svg>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li>
                                <a href="#!" class="dropdown-item" onclick="toggler({{ printf "editForm%v" .Uuid }})">Edit</a>
                            </li>
                            <li>
                                <button type="button" class="dropdown-item" data-bs-toggle="modal"
                                    data-bs-target={{ .Uuid | printf "#deleteCommentModel%v" }}>
                                    Delete
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="list-group-item d-none" id={{ printf "editForm%v" .Uuid }}>
                <form action={{ .Uuid | printf "%s?_method=PUT" | printf "/post/%s/comments/%s" .PostUuid }} method="POST">
                    <div class="row mb-3">
                        <div class="col-2">
                            <div>
                                <label for={{ .Uuid | printf "username%v" }} class="col-form-label visually-hidden"></label>
                                <input type="text" name="comment[username]" id={{ .Uuid | printf "username%v" }} class="form-control"
                                    placeholder="Name" aria-label="Name" value={{ .Username }} disabled>
                                <div class="valid-feedback">
                                </div>
                            </div>
                            <div>
                                <label for={{ printf "password%v" .Uuid }} class="col-form-label visually-hidden"></label>
                                <input type="password" name="comment[password]" id={{ printf "password%v" .Uuid }}
                                    class="form-control my-2" placeholder="Password" aria-label="Password" required>
                                <div class="valid-feedback">
                                </div>
                            </div>
                        </div>
                        <div class="col-10">
                            <label for={{ printf "commentTextArea%v" .Uuid }} class="form-label visually-hidden"></label>
                            <textarea class="form-control" name="comment[body]" id={{ printf "commentTextArea%v" .Uuid }}
                                rows="3" placeholder="Comment" required>{{ .Body }}</textarea>
                            <div class="valid-feedback">
                            </div>
                        </div>
                        <div class="row justify-content-end">
                            <div class="col-1">
                                <button class="btn btn-info btn-sm">Edit</button>
                            </div>
                        </div>
                    </div>
                </form>
            </li>
            <div class="modal fade" id={{ .Uuid | printf "deleteCommentModel%s" }} tabindex="-1"
            aria-labelledby="deleteCommentModel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Delete comment?</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action={{ .Uuid | printf "%s?_method=DELETE" | printf "/post/%s/comments/%s" .PostUuid }} method="POST">
                                <div class="mb-3">
                                    <label for="commentPassword" class="col-form-label">Please provide the password to
                                        delete the comment
                                    </label>
                                    <input type="password" class="form-control" id="commentPassword"
                                        name="comment[password]" required>
                                    <div class="valid-feedback">
                                    </div>
                                </div>
                                <div class="d-flex justify-content-end">
                                    <button class="btn btn-sm btn-danger">Delete</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div> 
        {{ end }}
        </ul>
    </div>
    <div class="col-lg-10 mb-3">
        <form action={{ printf "/post/%v/comments/" .Post.Uuid }} method="POST">
            <div class="row mb-3">
                <div class="col-2">
                    <div>
                        <label for="name" class="col-form-label visually-hidden"></label>
                        <input type="text" name="comment[username]" id="name" class="form-control" placeholder="Name"
                            aria-label="Name" required>
                        <div class="valid-feedback">
                        </div>
                    </div>
                    <div>
                        <label for="password" class="col-form-label visually-hidden"></label>
                        <input type="password" name="comment[password]" id="password" class="form-control my-2"
                            placeholder="Password" aria-label="Password" required>
                        <div class="valid-feedback">
                        </div>
                    </div>
                </div>
                <div class="col-10">
                    <label for="commentTextArea" class="form-label visually-hidden"></label>
                    <textarea class="form-control" name="comment[body]" id="commentTextArea" rows="3" placeholder="Comment"
                        required></textarea>
                    <div class="valid-feedback">
                    </div>
                </div>
                <div class="row justify-content-end">
                    <div class="col-1">
                        <button class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    function toggler(divId) {
        const element = document.getElementById(divId);
        element.classList.toggle("d-none");
    }
</script>
<script>
    for (const tb of document.querySelectorAll("table")) {
        tb.classList.add("pure-table", "pure-table-bordered", "mb-3");
    }
</script>
{{end}}
